
#h5_detail {
    padding-bottom 30px;
    .title_info {
        width: 100%;
        .cover_wrap {
            position relative;
            width: 100%;
            padding-top 48%;
            height 0;
            .header_pic {
                position absolute;
                top: 0;
                width 100%;
                height 100%;
            }
        }
        .title_con {
            padding: 15px 20px 0;
            .sm_subject {
                font-size 20px;
                font-weight 700;
                margin-right 10px;
                opacity 0.9;
                letter-spacing: 1px;
            }
            .big_subject {
                font-size 22px;
            }
            .jh {
                background: #FF735F;
                font-size: 12px;
                padding: 0 5px;
                color: #fff;
                border-radius: 2px;
                height: 20px;
                border-top: 1px solid #ff735f;
                img {
                    width 12px;
                }
                img:last-child {
                    margin-right 3px;
                }
            }
            .heated_discuss {
                background: #FBC23E;
                font-size: 12px;
                padding: 0 5px;
                color: #fff;
                border-radius: 2px;
                height: 20px;
                margin-left: 10px;
            }
            .bottom {
                justify-content: flex-start;
                padding: 18px 0;
                .avatar {
                    height 42px;
                    width 42px;
                    border-radius: 20px;
                }
                .right {
                    margin-left: 13px;
                    display: inline-block;
                    line-height: 20px;
                    vertical-align: middle;
                    flex: 1;
                    .username {
                        font-size: 15px;
                        font-weight: bold;
                        color: rgba(0, 0, 0, .8);
                        img {
                            margin-left 5px;
                            width: 14px;
                        }
                    }
                    .center {
                        font-size 13px;
                        opacity 0.8;
                        .number {
                            font-weight: bold;
                            margin-right: 4px;
                            color: #000;
                        }
                        .split {
                            margin: 0 7px 0 6px;
                            color: #b1b1b1;
                        }
                    }
                }
                .pubtime {
                    color: rgba(0,0,0,.4);
                    font-size 13px;
                }
            }
        }
        .to_form {
            color: #0CBF79;
            font-size: 14px;
            font-weight: 500;
            padding-top 10px;
            padding-bottom 22px;
            border-bottom: 1px solid #e6e8ea;
            img {
                width: 6px;
                margin-left: 5px;
            }
        }
    }
}