.lookmore {
    margin-top: 12px;
    font-size: 14px;
    color: #10b041;
    display: inline-block;
    float: right;
    cursor pointer;
    .lm {
        display: inline-block;
        margin-left: 5px;
        width: 10px;
        height: 9px;
        vertical-align: 1px;
        background: url(//common1.qyerstatic.com/bbs/old/images/detail/busdeb.png) no-repeat 0 -24px;
    }
}

#detail_con_rec {
    .chihe_dock {
        width: 370px;
        position fixed;
        left: 957px;
        top: 65px;
        /*z-index 1;*/
    }
    .qiyu_video {
        display inline-block;
        margin-top: 25px;
        cursor pointer;
        img {
            max-width 368px;
        }
    }
}

