
#h5_detail {
    .show_dianti {
        visibility visible;
    }
    .confirm_wrap {
        width: 90%;
        border-radius 4px;
        background #fff;
        margin-left 5%;
        text-align center;
        .con_con {
            color: rgba(0,0,0,.8);
            font-size: 16px;
            margin: 40px 0;
            font-weight: 500;
        }
        .con_btn {
            border-top: 1px solid #d7d7d7;
            .cancel, .open {
                flex: 1;
                line-height 50px;
            }
            .cancel {
                color #959595;
            }
            .open {
                color #11BF79;
                font-weight 500;
                border-left 1px solid #D7D7D7;
            }
        }
    }
}