
#rich_text {
    .com_flex {
        display flex;
        justify-content space-between;
    }
    .rich_text_wrap {
        margin: auto;
        width: 850px;
        .editor-container {
            width: 600px;
        }
    }
    .tool_bar {
        width: 200px;
    }
    .el-button--primary {
        background-color: #3f9f5f;
        border-color: #3f9f5f;
    }
}

#editor_toolbar_box {
    background: #F0F0EE;
    padding: 2px;
}

#editor_iframe_holder {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.flex_cen {
    display flex;
    flex-wrap wrap;
    align-items center;
}