#rich_text {
    .tool_bar {
        width: 240px;
        .addvideo {
            border: 1px solid #dedede;
            border-radius: 2px;
            position: relative;
            width: 98%;
            padding: 10px 0 10px 2%;
        }
        .iconfont {
            width 16px;
            height 40px;
            color #777;
            line-height 40px;
        }
    }
}

