.sip_rep_wrap {

    .sip_rep_frame {
        border: 1px solid #3f9f5f;
        border-radius 4px;
    }
    .content {
        min-height 120px;
        /*max-height 865px;
        overflow-y: scroll;*/
        img {
            max-width 100%;
        }
    }
    .tool {
        padding 5px 13px 0 0;
        div {
            cursor pointer;
        }
        .writer {
            font-size: 12px;
            color: #636363;
            i {
                background: url(//static.qyer.com/models/project/bbs/css/images/editor_icon.png) 6px 6px no-repeat;
                display: inline-block;
                width: 24px;
                height: 24px;
                vertical-align: middle;
                position: relative;
                top: -2px;
            }
        }
        .writer:hover {
            i {
                background-position: 6px -20px;
            }
            color: #10b041;
        }
    }
    .icomoon {
        font-size 26px;
        margin-left: 10px;
    }
    .icomoon:hover {
        color: #3f9f5f;
    }
}

.el-popover {
    color: #636363;
    .popemotion {
        width: 388px;
        a {
            background-image: url(//static.qyer.com/models/project/bbs/css/images/emotion.png);
            display: inline-block;
            width: 24px;
            height: 24px;
            margin: 8px 7px;
            cursor pointer;
        }
    }
    .picture {
        cursor pointer;
        div {
            line-height 25px;
        }
    }

}

.iconmoon-58:before {
    content: "\ea3a";
}

.iconmoon-52:before {
    content: "\ea34";
}

.iconmoon-27:before {
    content: "\ea1b";
}

.icomoon:hover {
    colro: #5cad77;
}
