
#h5_detail {
    word-wrap: break-word;
    font: 14px / 24px Helvetica, Arial, sans-serif !important;
    display: flex;
    flex-wrap: wrap;
    width 100%;
    div {
        box-sizing border-box;
    }
    .flex {
        display flex;
        align-items center;
        justify-content space-between;
    }
    .inl_flex {
        display inline-flex;
        justify-content center;
        align-items center;
    }
    .com_pad {
        padding 0 20px;
        box-sizing border-box;
    }
    .mask {
        position fixed;
        top: 0;
        left: 0;
        width 100%;
        height 100%;
        visibility hidden;
        z-index 20;
        background: rgba(0, 0, 0, 0.9);
    }
    .mask_two {
        position fixed;
        top: 0;
        bottom 0;
        left: 0;
        width 100%;
        visibility hidden;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6);
    }
    .show_mask {
        visibility visible;
    }
    p {
        margin: 0;
        word-wrap: break-word;
        word-break: normal;
        color: rgba(0, 0, 0, .8);
        line-height: 26px;
    }
    ol, ul, blockquote {
        margin: 0;
        padding: 0;
        outline: none;
        list-style: none;
    }
    .grey_sep {
        height 8px;
        background: #F5F5F5;
    }
    a {
        text-decoration none;
    }
    #js_appdata {
        display none;
    }
}
