#h5_preview {
    z-index 1;
    color: #fff;
    text-align: center;
    .close {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
    }
    .top {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    .slider_wrap {
        width: 100%;
        overflow hidden;
        height calc(100% - 150px);
        img {
            width 100%;
        }
    }
    .slider_con {
        height 100%;
        display flex;
        align-items center;
    }
    .bottom {
        font-weight: lighter;
        margin: 30px 0;
        line-height: 34px;
        border: 1px solid #8b8b8b;
        display: inline-block;
        width 180px;
        border-radius: 4px;
        font-size: 14px;
    }
}